@page "/controls-on"

<PageTitle>Controls ON</PageTitle>

@* CONTROLS (ON) (when controls is true, all other parameters are ignored) *@
<h3>Controls ON</h3>
<Nativo_Video src=@localVideoSource controls=true />

@code {
    private readonly string localVideoSource = "10-seconds-of-calm-music.mp4";
}
