@layout EmptyLayout
@page "/layout-main"
<PageTitle>Layout Main</PageTitle>
<div class="page">
	<Nativo_Landing_Main>
	<Button_Main>
		<Nativo_Button url="www.google.com" text="Begin"></Nativo_Button>
	</Button_Main>
	<Policy_Main>
		<Nativo_Terms_Privacy_Policy></Nativo_Terms_Privacy_Policy>
	</Policy_Main>
</Nativo_Landing_Main>
</div>
