@page "/multiple-sources"

<PageTitle>Multiple Sources</PageTitle>

@* HTTP VIDEO SOURCE + FALLBACK IMAGE + DEFAULT VALUES FOR ALL OTHER PARAMETERS *@
<h3>HTTP video with fallback image</h3>
<Nativo_Video src=@httpVideoSource fallbackImage=@localFallbackImage />

<br />

@* LOCAL VIDEO SOURCE + DEFAULT VALUES FOR ALL OTHER PARAMETERS *@
<h3>Local video</h3>
<Nativo_Video src=@localVideoSource />

@code {
    private readonly string httpVideoSource = "https://www.hellomonday.com/assets/video/animations/hm-hero-desktop-non-retina.mp4";
    private readonly string localFallbackImage = "hm-hero-desktop.png";
    private readonly string localVideoSource = "10-seconds-of-calm-music.mp4";
}
