.policy {
    color: #ffffff;
    font-family: "Avenir-Book";
    font-weight: 400;
    line-height: 20px;
}

    .policy a {
        text-decoration: none;
        color: #5C7C7F;
        font-family: "Avenir-Heavy";
    }
