.content{
	width:100%;
	height: 100%;
	margin: auto;
	color: #FFFFFF;
	position: relative;
}
.content .logo h1{
	font-family: 'Sinkin Sans'; /* Sinkin Sans or Times New Roman */
	text-shadow: 0 0 7px #000000;
	font-size: 50px;
	padding-left : 20px;
	margin-top: 9%;
	letter-spacing: 2px;
}
.content .par{
	widht: 250px;
	padding-left: 20px;
	padding-botton: 25px;
	padding-top: 20px;
	font-family: Arial;
	letter-spacing: 1.2px;
	line-height: 20px;
}

.content h2{
	width: 450px;
	font-family: 'Times New Roman';
	font-size: 50px;
	padding-left : 20px;
	margin-top: 9%;
	letter-spacing: 2px;
	/*line-height: 45px;*/
}