.cn {
    background: #5c7c7f;
    background-blend-mode: normal;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    text-align: center;
}
a {
    text-decoration: none;
    color: #FFFFFF;
    /* transition: .3s ease; */
    font-size: 24px;
    line-height: 38px;
    text-transform:uppercase;
    }