<div class="Content" style="
background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(@backgroundImage) no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
">
    <div class="Column">
        <div class="Logo Row">
            <img src="@LogoMain" title="Logo" alt="Logo" />
    </div>

    <div class="Subheading Row">
        <h2>@SubheadingMain</h2>
    </div>

    <div class="Paragraph Row">
        <p>@ParagraphMain</p>
    </div>

    <div class="Buttom Row">
        @Button_Main
    </div>
    <div class="Policy Row">
        @Policy_Main
    </div>
    </div>
    <div class="Column">

    </div>
    
    

</div>

@code  {
    [Parameter]
    public string? LogoMain { get; set; } = "./_content/NativoPlus.BlazorRCL/tcu-logo-high-res-blanco.png";

    [Parameter]
    public string? SubheadingMain { get; set; } = "Welcome to your home for online baking on the go!";

    [Parameter]
    public string? ParagraphMain { get; set; } = "Sign up for an account and bank happily ever after.";

    [Parameter]
    public RenderFragment? Button_Main { get; set; }

    [Parameter]
    public RenderFragment? Policy_Main { get; set; }

    [Parameter]
    public string? backgroundImage { get;  set; } = "./_content/NativoPlus.BlazorRCL/2.jpg";




}

