<div>
    <!-- Background image -->
    <div class="bg-image"
         style="background-image: url(@backgroundImage);
            height: 100vh">
        <div class="d-flex align-items-center justify-content-center" style="height:100vh;">
            <div class="row">
                <div class="col-md-12 m-5 mb-3">
                    <img src="@LogoMain" title="Logo" alt="Logo" />
                </div>
                <div class="col-md-6 m-5 mt-0 mb-2">
                    <h2 class="Subheading">@SubheadingMain</h2>
                </div>
                <div class="col-md-12 m-5 mt-2 mb-3">
                    <p class="Paragraph">@ParagraphMain</p>
                </div>
                <div class="col-md-12 m-5 mt-5 mb-2">
                    @Button_Main
                </div>
                <div class="col-md-12 m-5 mt-4">
                    @Policy_Main
                </div>
            </div>
        </div>
    </div>
</div>
@code  {
    [Parameter]
    public string? LogoMain { get; set; } = "./_content/NativoPlus.BlazorRCL/tcu-logo-high-res-blanco.png";

    [Parameter]
    public string? SubheadingMain { get; set; } = "Welcome to your home for online baking on the go!";

    [Parameter]
    public string? ParagraphMain { get; set; } = "Sign up for an account and bank happily ever after.";

    [Parameter]
    public RenderFragment? Button_Main { get; set; }

    [Parameter]
    public RenderFragment? Policy_Main { get; set; }

    [Parameter]
    public string? backgroundImage { get;  set; } = "./_content/NativoPlus.BlazorRCL/2.jpg";




}

